<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-view title="Settings">
  <ion-nav-buttons side="right">
    <a class="button icon ion-android-arrow-back" href="#/player"></a>
  </ion-nav-buttons>
  <div class="content has-header ionic-body">
      <div class="item">
        {{room.roomName}}
      </div>
      <label class="item item-button-right item-stacked-label">
        <span class="input-label">Room Password</span>
        <input type="text" placeholder={{room.roomPassword}} readonly ng-click="changeRoomAttribute(room.roomName,room.adminKey,'roomPassword')">
        <button class="button button-positive icon ion-ios-reload" ng-style="!permissions.admin && {'display':'none'}"></button>
    </label>
      <label class="item item-button-right item-stacked-label" ng-style="!permissions.admin && {'display':'none'}">
        <span class="input-label">Admin Key</span>
        <input type="text" placeholder="{{room.adminKey}}" readonly>
      </label>
      <label class="item item-button-right item-stacked-label" ng-style="!permissions.mod && {'display':'none'}">
        <span class="input-label">Moderator Key</span>
        <input type="text" placeholder="{{room.moderatorKey}}" readonly ng-click="changeRoomAttribute(room.roomName,room.adminKey,'moderatorKey')">
        <button class="button button-positive icon ion-ios-reload" ng-style="!permissions.admin && {'display':'none'}"></button>
      </label>
      <div class="item item-button-right item-stacked-label" ng-style="permissions.mod && {'display':'none'}">
        <input class="col col-75" ng-model="modKey" type="text" placeholder="Moderator Key">
        <button class="button icon ion-unlocked button-positive" ng-click="becomeModerator(room.roomName,room.roomPassword,modKey)"></button>
      </div>
      <div class="row">
      <div class="col col-33"></div><button class="button col col-33" ng-style="!permissions.admin && {'display':'none'}" ng-click="deleteRoom(room.roomName,room.adminKey)">Delete</button>
        </div>
    </div>
  </div>
</ion-view>
