<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-view title="Player Bullshit">
  <ion-nav-buttons side="right">
    <a class="button icon ion-android-list" href="#/queue"></a>
  </ion-nav-buttons>
  <div class="content has-header ionic-body">
    <div class="list card">

      <div class="item" >

        <h2>{{playing.title}}</h2>

        <p>{{playing.artist}}</p>
      </div>

      <div class="item item-image">
        <img src="{{playing.albumart}}">
      </div>
      <div class="button-bar"><a class="button icon ion-skip-backward"></a>
        <a class="button icon ion-play"></a>
        <a class="button icon ion-skip-forward"></a>
        <a class="button icon ion-trash-a"></a>
        <a class="button icon ion-thumbsup"></a>
        <a class="button icon ion-thumbsdown"></a>
      </div>

    </div>
  </div>
</ion-view>
