<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-view title="View Playlist">
  <ion-nav-buttons side="right">
    <a class="button icon ion-alert" ng-click="addSong('https://www.youtube.com/watch?v=VNKyUUC1Uyg')"></a>
    <a class="button icon ion-android-arrow-back" href="#/player"></a>
    <a class="button icon ion-android-settings" href="#/manage"></a>
  </ion-nav-buttons>
  <div class="content has-header ionic-body">
    <div class="list card" ng-repeat="track in tracks">
      <div class="item row">
        <div class="col col-50">
        <h2>{{track.title}}</h2>
        <p>{{track.artist}}</p>
        </div>
        <div class="col col-50">
          <div class="button-bar">
            <a class="button icon" ng-class="{'ion-play': !track.playing, 'ion-pause':track.playing}" ng-click="playPause($index)" ng-style="!permissions.mod && {'display':'none'}"></a>
            <a class="button icon ion-trash-a" ng-click="removeSong($index)" ng-style="!permissions.mod && {'display':'none'}"></a>
            <a class="button icon ion-thumbsup"></a>
            <a class="button icon ion-thumbsdown"></a>
          </div>
        </div>
      </div>

    </div>
  </div>
</ion-view>
