<ion-view view-title="Create Room">
  <div class="content has-header has-tabs-top">
    <div class="list">
      <div class="item item-input item-floating-label">
        <span class="input-label">Room Name</span>
        <input ng-model="name" type="text" placeholder="Room Name">
      </div>
<!--      <div class="item item-button-right">Join Password
        <button class="button button-positive"><i class="icon ion-ios-reload"></i></button>
      </div>
      <div class="item item-button-right">Admin Key
        <button class="button button-positive"><i class="icon ion-ios-reload"></i></button>
      </div>
      <div class="item item-button-right">Moderator Key
        <button class="button button-positive"><i class="icon ion-ios-reload"></i></button>
      </div>-->
    </div>
    <div>
      <a class="button button-block button-positive" ng-click="createRoom(name)">Create</a>
    </div>
  </div>
</ion-view>
